table,th,td{
border: 1px solid black;
}

.container{
    margin: 20px;
    width: auto;
    border: 15px solid green;
    padding: 50px;
}
.body{
    margin: 0;
}

.siteHeader{
    
    
    padding: 1em;
    background-color: grey;
    color: white;
    text-align: center;
}

.siteFooter{
    background-color: lightskyblue;
    color: whitesmoke;
}

#total{
    padding: 1em;
}

